
<h1>QUOTE-APP</h1>
<p>Create your Quote</p>

<form>
    <div class="mb-3">
      <label for="text" class="form-label">NAME</label>
      <input type="text" class="form-control" id="name" >
          </div>
    <div class="mb-3">
      <label for="quote" class="form-label">QUOTE</label>
      <input type="text" class="form-control" id="quote">
    </div>
    <div class="mb-3">
        <label for="quote" class="form-label">AUTHOR</label>
        <input type="text" class="form-control" id="author">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
